@model Marketplace_portal.Models.ProductSummaryModel
@using Marketplace_portal.Models;
@using Newtonsoft.Json;
@{

    //ProductSummaryModel propertiesObject = ViewData["propertiesObject"] as ProductSummaryModel;

    @*Layout = null;*@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    @Styles.Render("~/Content/CSSStyles/ProductSummary.css")
    <title>Index</title>
</head>

<body>
    @Html.Partial("Intro")
    <div class="SummaryWrapper">
        <h1>Product Summary</h1>
        <hr />
        <div class="DetailsWrapper">
            @{
                <div class="col">
                    <table class="">
                        <tr>
                            <th>DESCRIPTION</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="descData Title">Manufacturer</td>
                            <td>@Model.description[0]</td>
                        </tr>
                        <tr>
                            <td class="descData Title">Series</td>
                            <td>@Model.description[1]</td>
                        </tr>
                        <tr>
                            <td class="descData Title">Model</td>
                            <td>@Model.description[2]</td>
                        </tr>
                    </table>
                    <hr />
                    <table>
                        <tr>
                            <th>TYPE</th>
                            <th></th>
                        </tr>
                        @for (int i = 0; i < Model.properties.Count(); i++)
                        {
                            if (Model.properties[i][1].Equals("1"))
                            {
                                <tr>
                                    <td class="Title">@Model.properties[i][0]</td>
                                    <td>@Model.properties[i][2]</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td class="Title">Model Year</td>
                            <td>@Model.description[3]
                        </tr>
                    </table>

                </div>

                <div class="col">
                    <table>
                        <tr>
                            <th>TECHNICAL SPECIFICATIONS</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        @for (int i = 0; i < Model.properties.Count(); i++)
                        {
                            if (Model.properties[i][1].Equals("0"))
                            {
                                <tr>
                                    <td class="Title">@Model.properties[i][0]</td>
                                    @if (Model.properties[i][3] == "1")
                                    {
                                        <td class="Title">Min</td>
                                        <td>@Model.properties[i][5]</td>
                                        <td class="Title">Max</td>
                                        <td>@Model.properties[i][4]</td>
                                    }
                                    else
                                    {
                                        <td>@Model.properties[i][2]</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</body>
</html>

