@using Marketplace_portal.Models;
@model Marketplace_portal.Models.CompareList

@{
    ViewBag.Title = "CompareTest";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Practice</title>

</head>

<body>
    <div class="container-fluid" style="background-color:white"></div>
    <div id="header" class="row" style="background:linear-gradient(#357CAA,white)">
        <div class="row" style="width:99vw;height:70px;text-align: center;margin-top:20px;">
            <div style="display:inline;width:400px;margin-left:20px">
                <form style="color:black;font:bold;">
                    <b> Search</b>
                    <input class="btn btn-primary" type="submit" value="Search!">
                </form>
            </div>
        </div>
    </div>
    <div>
        @*@ViewBag.Message World!*@
        <div class="topper" style="color:#357CAA ">
            Mechanical > HVAC Fans > Compare
        </div>
    </div>
    <table class="table table-bordered" width="100%">
        @foreach (ProductModel item in Model.ProductModels)
        {@*
                <tr>
                    <td>@item.ManufacturerName</td>

                    <td>@item.Series</td>
                </tr>
        *@
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"> <img id="fanImage1" src="~/ProductImages/fan1.jpg" width="200" height="200"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3" class="active">DESCRIPTION</th>
            </tr>
            <tr>
                <th scope="row" class="active">Manufacture</th>
                <td class="col-3">@item.ManufacturerName</td>
            </tr>
            <tr>
                <th scope="row" class="active">Series</th>
                <td class="col-3">@item.Series</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Model</th>
                <td class="col-md-3">@item.Model</td>
            </tr>
            <tr>
                <th colspan="3" class="active">TYPE</th>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Use Type</th>
                <td class="col-md-3">@item.UseType</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Application</th>
                <td class="col-md-3">@item.Application</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Mounting Location</th>
                <td class="col-md-3">@item.MountingLocation</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Accessories</th>
                <td class="col-3">@item.Accessories</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Model Year</th>
                <td class="col-md-3">@item.ModelYear</td>
            </tr>
            <tr>
                <th colspan="3" class="active">TECHNICAL SPECIFICATIONS</th>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Air Flow (CFM)</th>
                <td class="col-3">@item.AirFlow </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Power (W)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@item.PowerMin</td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@item.PowerMax</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Operating Voltage (VAC)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@item.OperatingVoltageMin </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@item.OperatingVoltageMax </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Fan Speed (RPM)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@item.FanSpeedMin </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@item.FanSpeedMax </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="active">Number of fan speeds</th>
                <td>@item.NumberFanSpeed </td>
            </tr>
            <tr>
                <th scope="row" class="active">Sound at max speed (dBA)</th>
                <td>@item.MaxSpeed </td>
            </tr>
            <tr>
                <th scope="row" class="active">Fan sweep diameter (in)</th>
                <td>@item.FanSweep</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Height (in)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@item.HeightMin</td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@item.HeightMax</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="active">Weight (llbs)</th>
                <td>@item.Weight</td>
            </tr>
        </tbody>
    }
    </table>

    <div>

        <a id="btn_add" href="@Url.Action(" Add", "AddToCart" )" class="btn btn-info btn-lg" style="margin-left:60px">
            <span class="addto" onclick="SaveItem()"> </span> Add To
        </a>
    </div>
</body>
</html>

