@model Marketplace_portal.Models.CompareList

@{
    ViewBag.Title = "CompareProduct";
}


@{
    var data = ViewBag.Message;
}


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Practice</title>

</head>

<body>
    <div class="container-fluid" style="background-color:white"></div>
    <div id="header" class="row" style="background:linear-gradient(#357CAA,white)">
        <div class="row" style="width:99vw;height:70px;text-align: center;margin-top:20px;">
            <div style="display:inline;width:400px;margin-left:20px">
                <form style="color:black;font:bold;">
                    <b> Search</b>
                    <input class="btn btn-primary" type="submit" value="Search!">
                </form>
            </div>
        </div>
    </div>
    <div>
        @*@ViewBag.Message World!*@
        <div class="topper" style="color:#357CAA ">
        Mechanical > HVAC Fans > Compare
            </div>
    </div>
    <table class="table table-bordered" width="100%">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">img</th>
                <th scope="col">img</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3" class="active">DESCRIPTION</th>
            </tr>
            <tr>
                <th scope="row" class="active">Manufacture</th>
                <td class="col-3">@data.ManufacturerName</td>
                <td class="col-3">Emerson</td>
            </tr>
            <tr>
                <th scope="row" class="active">Series</th>
                <td class="col-3">@data.Series</td>
                <td class="col-3">Luray Eco</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Model</th>
                <td class="col-md-3">@data.Model</td>
                <td class="col-md-3">CF860</td>
            </tr>
            <tr>
                <th colspan="3" class="active">TYPE</th>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Use Type</th>
                <td class="col-md-3">@data.UseType</td>
                <td class="col-md-3">Commercial</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Application</th>
                <td class="col-md-3">@data.Application</td>
                <td class="col-md-3">Indoor</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Mounting Location</th>
                <td class="col-md-3">@data.MountingLocation</td>
                <td class="col-md-3">Roof</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Accessories</th>
                <td class="col-3">@data.Accessories</td>
                <td class="col-3">With Light</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Model Year</th>
                <td class="col-md-3">@data.ModelYear</td>
                <td class="col-md-3">2014</td>
            </tr>
            <tr>
                <th colspan="3" class="active">TECHNICAL SPECIFICATIONS</th>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Air Flow (CFM)</th>
                <td class="col-3">5467 </td>
                <td class="col-3">5956 </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Power (W)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@data.PowerMin</td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@data.PowerMax</td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3">
                    @*product 2 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">7.5 </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">12.11</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Operating Voltage (VAC)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@data.OperatingVoltageMin </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@data.OperatingVoltageMax </td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3">
                    @*product 2 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">1 </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">100 </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Fan Speed (RPM)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@data.FanSpeedMin </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@data.FanSpeedMax </td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3">
                    @*product 2 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">5 </td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">200 </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="active">Number of fan speeds</th>
                <td>7 </td>
                <td>7 </td>
            </tr>
            <tr>
                <th scope="row" class="active">Sound at max speed (dBA)</th>
                <td>35 </td>
                <td>35 </td>
            </tr>
            <tr>
                <th scope="row" class="active">Fan sweep diameter (in)</th>
                <td>60 p1</td>
                <td>60 p2</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3 active">Height (in)</th>
                <td class="col-md-3">
                    @*product 1 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">@data.HeightMin</td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">@data.HeightMax</td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3">
                    @*product 2 min max*@
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Min</th>
                            <td class="col-md-3">5 p2</td>
                        </tr>
                    </table>
                    <table width="100%" class="text-center">
                        <tr>
                            <th scope="col" class="col-md-3 active">Max</th>
                            <td class="col-md-3">100 p2</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="active">Weight (llbs)</th>
                <td>13 p1</td>
                <td>CF860 p2</td>
            </tr>
        </tbody>
    </table>

    <div>

        <a id="btn_add" href="@Url.Action(" Add", "AddToCart" )" class="btn btn-info btn-lg" style="margin-left:60px">
            <span class="addto" onclick="SaveItem()"> </span> Add To
        </a>
    </div>
</body>
</html>










